<div class="toolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title-center">Question Editor</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
  <div style="text-align: center; margin-top: 50px;">
    <button class="create-btn" mat-raised-button color="primary" routerLink="/create">Create Question</button>
    <button class="statistic-btn" mat-raised-button color="primary" routerLink="/statistic">Show Statistic</button>
  </div>
  <mat-divider style="margin-top: 30px; margin-bottom: 30px;"></mat-divider>
</div>
<router-outlet></router-outlet>